<input id="room_name" type="text"/>
<button onclick="createRoom()">Create room</button>

<script>
  function createRoom() {
    input = document.getElementById("room_name")
    window.location.href = "/" + input.value
  }
</script>
